@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;

}

/*웹폰트
 - 영문
  .el-messiri
  font-family: "El Messiri", sans-serif;
  
  -한글
  .noto-sans
  font-family: "Noto Sans KR", sans-serif;
  */


body {
    min-width: 1450px;
    font-family: "Noto Sans KR", sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #000;
    background: url(../images/bg.jpg);
}




/*----------top_banner--------------*/
.top_banner {
    height: 30px;
    background-color: #4a4f22;
    text-align: center;
    color: #ede7d5;
    font-weight: 300;
    font-size: 14px;
}




/*-----------side_btn--------------*/
.btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
}

.btn img {
    padding-bottom: 5px;
}

.top {
    display: none;
}



/*----------header--------------*/
header {
    background-color: rgba(238, 232, 214, 0.5);
    height: 70px;
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0 auto;
    border-bottom: 0.3px solid rgba(74, 79, 34, 0.5);
    z-index: 99;
    width: 100%;
}

header.on {
    position: fixed;
    top: 0;
    left: 0;
}

#header_inner {
    width: 1450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gnb {
    display: flex;
}

#gnb>li {
    font-family: "El Messiri", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 40px;
    color: #3a3a37;
    position: relative;
}


.sub {
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    display: none;
}

#gnb>li:nth-child(2)>.sub li {
    background-color: rgba(238, 232, 214, 0.5);
    color: #3a3a37;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}

.sub li {
    background-color: rgba(238, 232, 214, 0.5);
    color: #3a3a37;
    font-size: 20px;
    font-weight: 600;
    padding: 13px 0;
    text-align: center;
}

.logo img {
    width: 100px;
}

.icon_login {
    display: flex;
}

.icon_login li {
    padding: 0px 5px;
}

.icon_login img {
    width: 25px;
}


/*--------------Our stroy-------------*/
#our_s {
    width: 1450px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}

#our_s img {
    padding-right: 60px;
}

.text2 h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 60px;
    padding-bottom: 30px;
    padding-top: 380px;
}

.text2 p {
    font-size: 18px;
    line-height: 30px;
    padding-left: 8px;
}




/*--------------Our Promise-------------*/
.sec3 {
    position: relative;
}

#our_p {
    width: 1450px;
    margin: 0 auto;
}

.text3 h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 60px;
    padding-bottom: 30px;
}

.text3 p {
    font-size: 18px;
    line-height: 30px;
    padding-left: 8px;
}

#our_p ul li {
    display: flex;
}

#our_p ul li:nth-child(1) img:nth-child(2) {
    position: absolute;
    top: 120px;
    right: 300px;
}

#our_p ul li:nth-child(1) img:nth-child(1) {
    position: absolute;
    top: 208px;
    right: 690px;
}

#our_p ul li:nth-child(2) img:nth-child(2) {
    position: absolute;
    top: 430px;
    right: 300px;
}

#our_p ul li:nth-child(2) img:nth-child(1) {
    position: absolute;
    top: 430px;
    right: 600px;
}



/*--------------비건로고---------------*/
.sec4 {
    background: url(../images/our_vegan_bg.jpg) no-repeat center center;
    margin-top: 28px;
}

#our_vegan {
    width: 1450px;
    margin: 0 auto;
}

.box {
    position: absolute;
    top: 13%;
    left: 12%;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 30px;
    width: 1450px;
    height: 480px;
}

#our_vegan {
    width: 1450px;
    margin: 0 auto;
}

.text4 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text4 ul li {
    width: 500px;
    padding-top: 60px;
}

.text4 ul li h5 {
    font-size: 20px;
    padding-top: 30px;
}

.text4 ul li p {
    font-size: 16px;
    padding-top: 20px;
}

.text4 p:nth-child(2) {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    padding-top: 510px;
}



/*--------------Our_value---------------*/
#our_value {
    width: 1450px;
    margin: 0 auto;
    padding-top: 50px;
}

.text5 {
    text-align: center;
}

.text5 h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 60px;
    padding-bottom: 30px;
}

.text5 p {
    font-size: 18px;
    line-height: 30px;
    padding-left: 8px;

}

#our_value ul {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}

#our_value ul li h3 {
    font-family: "El Messiri", sans-serif;
    font-size: 30px;
    padding: 50px 0 20px 0;
}

#our_value ul li h4 {
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 30px;
}

#our_value ul li p {
    font-size: 18px;
    line-height: 30px;
}




/*--------------Our_last---------------*/
#our_last {
    width: 1450px;
    margin: 0 auto;
}

.sec6 {
    background: url(../images/our_last_bg.jpg)no-repeat center center;
    margin-top: 28px;
}

.text6 p {
    color: #ffffff;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}




/*--------------footer---------------*/
.footer {
    background-color: #4a4f22;
    margin-top: -45px;
}

#footer_line {
    border-bottom: 0.3px solid rgba(236, 231, 213, 0.5);
    padding-bottom: 20px;
}

#footer_inner {
    width: 1450px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_inner ul,
ol {
    display: flex;
}

#footer_inner ul li {
    color: #ece7d5;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 400;
}

#footer_inner ol li {
    padding-right: 5px;
}

#footer_inner2 {
    position: relative;
    width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 70px 0;
}

#footer_inner2 ul {
    display: flex;
}

#footer_inner2>img {
    padding: 0 20px;
}

#footer_inner2>p {
    position: absolute;
    top: 35%;
    left: 210px;
    color: #ece7d5;
    font-size: 13px;
    font-weight: 400;
}

#footer_inner2 .soy {
    position: absolute;
    top: 37%;
    right: 75px;
}